---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/base.css";

import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import { Social } from "../components/Social";
---

<Layout title="Welcome to my portafolio">
  <Navbar />
  <Social />
  <main class="px-6 md:px-28 lg:px-28 xl:px-56">
    <section>
      <Hero />
      <About />
      <Projects />
      <Contact />
    </section>
  </main>
</Layout>
