---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { Social } from "../components/Social";

import "../styles/base.css";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <Social />
  <main class="">
    <Hero />
  </main>
</Layout>
