<section
  class="h-screen flex flex-col items-center align-middle justify-center gap-8"
  id="contact"
>
  <p
    class="text-sm md:tx-base font-normal before:[content:'03.'] before:text-primary-50 before:text-md before:inline text-primary-50"
  >
    What's Next?
  </p>
  <h2 class="text-3xl font-semibold">Get In Touch</h2>
  <p class="text-gray-400 w-1/2 text-center">
    Thanks for stopping by! If you'd like to get in touch with me, please feel
    free to reach out
  </p>
  <a
    class="rounded-full text-lg border-2 border-primary-50 px-4 py-2 mt-8 font-secondary text-primary-50 tracking-widest hover:transition-all hover:bg-primary-50 hover:bg-opacity-10 duration-200"
    href="mailto:danielcuque78@gmail.com"
  >
    Say Hello</a
  >
</section>
