---
import { contributions } from "@/constants/contributions";
---

<section class="mt-52" id="contributions">
  <h2 class=`text-lg md:text-3xl font-medium before:[content:'04.'] before:text-primary-50 before:text-lg before:inline`>
    Contributions
  </h2>
  <p class="text-gray-400 my-4">I enjoy contributing to open source projects and building my own projects. Here are some of my recent contributions</p>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    {
      contributions.map((contribution) => (
      <li class="card-items flex flex-col gap-4">
          <h3 class="text-lg font-medium">{contribution.title}</h3>
          <p>{contribution.description}</p>
          <a href={contribution.link} target="_blank" class="text-primary-500 hover:underline">View on GitHub</a>
        </li>
      ))
    }
  </ul>
</section>
