<footer class="px-6 md:px-12 lg:px-24 xl:px-52">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <a href="https://astro.build" target="_blank">
            <img
              src="https://astro.badg.es/v1/built-with-astro/medium.svg"
              alt="Built with Astro"
              width="150"
              height="27.5"
            />
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
