---
import { navItems } from "../utils/navItems";
import NavItem from "./NavItem.astro";
---

<nav
  class="flex justify-center fixed h-10 w-full lg:justify-between px-16 py-8 bg-main-50 z-10 transition-[top] duration-300"
  id="navbar"
>
  <div class="hidden lg:flex">
    <a href="/">
      <img
        src="https://avatars.githubusercontent.com/u/81493003?v=4"
        alt="github-image"
        class="w-10 h-10 rounded-full"
      />
    </a>
  </div>
  <ol class="flex gap-8 [counter-reset:item]">
    {navItems.map(({ name, path }) => <NavItem name={name} path={path} />)}
  </ol>
</nav>

<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-70px";
    }
    prevScrollpos = currentScrollPos;
  };
</script>

<!-- <style>
  #navbar {
    transition: top 0.3s;
  }
</style> -->
