---
import { navItems } from "../utils/navItems";
import NavItem from "./NavItem.astro";

interface NavbarProps {
  title: string;
}

const { title } = Astro.props;
---

<nav class="flex flex-row justify-center lg:justify-between mx-16 my-4">
  <div class="hidden lg:flex">
    <img
      src="https://avatars.githubusercontent.com/u/81493003?v=4"
      alt="github-image"
      class="w-10 h-10 rounded-full"
    />
  </div>
  <ol class="flex flex-row gap-8">
    {
      navItems.map(({ name, path }) => (
        <li class="nav-item">
          <NavItem name={name} path={path} />
        </li>
      ))
    }
  </ol>
</nav>
