---
import { navItems } from "../utils/navItems";
import NavItem from "./NavItem.astro";
---

<nav
  class="flex justify-center fixed h-10 w-full lg:justify-between px-16 my-8"
>
  <div class="hidden lg:flex">
    <a href="/">
      <img
        src="https://avatars.githubusercontent.com/u/81493003?v=4"
        alt="github-image"
        class="w-10 h-10 rounded-full"
      />
    </a>
  </div>
  <ol class="flex gap-8 [counter-reset:item]">
    {navItems.map(({ name, path }) => <NavItem name={name} path={path} />)}
  </ol>
</nav>
