---
interface NavbarProps {
    title: string;
}

const { title } = Astro.props;
---

<nav class="flex flex-row justify-between">
    <div class="">
        <img
            src="https://avatars.githubusercontent.com/u/81493003?v=4"
            alt="github-image"
            class="w-10 h-10 rounded-full"
        />
    </div>
    <div class="flex flex-row">
        {[]}
    </div>
</nav>
