---
interface Props {
  name: string;
  path: string;
}
const { name, path } = Astro.props;
---

<li>
  <a
    href={path}
    class="hover:text-primary-50 text-white cursor-pointer [counter-increment:item] lg:before:[content:'0'counters(item,'.')'.'] before:text-primary-50 before:text-xs before:mr-2 before:hidden lg:before:inline lg:after:relative lg:after:content-[''] lg:after:block lg:after:top-[0.2em] after:bg-primary-50 lg:after:h-[2px] lg:after:transition-all lg:after:w-0 lg:after:duration-200 lg:after:ease-in-out lg:after:opacity-50 lg:after:hover:w-full lg:after:hover:opacity-100"
  >
    {name}
  </a>
</li>
