---
const projects = [
  {
    github: "https://github.com/danielcuque/dashboard-posts",
    title: "Dashboard Posts",
    deploy: "https://grupo-9.vercel.app/",
    description: "Dashboard to manage posts",
    techs: ["React", "Next.js", "TailwindCSS", "MongoDB", "Node.js"],
  },
];
---

<section class="mt-8" id="projects">
  <h2
    class="text-3xl font-medium before:[content:'02.'] before:text-primary-50 before:text-lg before:inline"
  >
    Some Projects I’ve Built
  </h2>
</section>
