---
import ProjectItem from "./ProjectItem.astro";
const projects = [
  {
    github: "https://github.com/danielcuque/dashboard-posts",
    title: "Dashboard Posts",
    deploy: "https://grupo-9.vercel.app/",
    description:
      "Web application, use dashboard to manage posts with content and images",
    techs: ["React", "TailwindCSS", "Firebase"],
  },
  {
    github: "https://github.com/grupo-9-practicas-iniciales/yousac-frontend",
    title: "U-sac",
    deploy: "https://yousac.netlify.app/",
    description: "University project to give recommendations to students",
    techs: ["React", "TailwindCSS", "MySQL"],
  },
  {
    github: "https://github.com/danielcuque/EDD_1S2023_PY_202112145",
    title: "Go drive",
    deploy: "https://danielcuque.github.io/EDD_1S2023_PY_202112145/EDD_Proyecto1_Fase3/index.html",
    description: "University project to store files and directories using data structures, such as, binary tree, stacks, queues, adjacent matrix, etc",
    techs: ["Javascript Vanilla", "TailwindCSS", "HTML5"],
  },
  {
    github: "https://github.com/pixel-tree/medical-app-demo",
    title: "Medical App",
    deploy: "https://pixel-tree-medical-app-demo.netlify.app/login",
    description: "",
    techs: ["TypeScript", "Material UI", "Formik"],
  }
];
---

<section class="mt-52" id="projects">
  <h2
    class="text-lg md:text-3xl font-medium before:[content:'02.'] before:text-primary-50 before:text-lg before:inline"
  >
    Some Projects I’ve Built
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    {projects.map((project) => <ProjectItem {...project} />)}
  </ul>
</section>
