<section class="mt-52" id="projects">
    <h2 class=`text-lg md:text-3xl font-medium before:[content:'03.'] before:text-primary-50 before:text-lg before:inline`>
      My Working Experience
    </h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    </ul>
  </section>
  