---
import BaseHead from "../components/BaseHead.astro";

let description = "Daniel Cuque Portafolio";
let permalink = "https://example.com/";
let title = "Daniel Cuque | Software Developer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body class="min-h-full bg-[#16151D] animate-fade">
    <slot />
  </body>
</html>
